@import '../shared';
.footer{
  background-color: $bgcolor;
  color:$fontColor;
}
.footer-list{
  list-style-type:none;
}
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
 
#{$a-tags} {
  color:white;
  text-decoration: none;
}
#{$a-tags-hover} {
  color:black!important;
  text-decoration: none!important;
}
.headline-footer{
  font-weight: bold;
}

.footer-social {
  padding-left: 0px!important;
  li{
  display: inline;
  padding: 5px;
}
}